# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform overrides
override.tf
override.tf.json

# Ansible
.ansible/

# Sensitive variable files
*.tfvars
*.tfvars.json

# Editor/OS
.DS_Store
*.swp
.idea/
.vscode/
